*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: #000;
    color: #fff;
    z-index: 99;
}
.header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("/NetflixImg/header-image.png");
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
    position: relative;
    z-index: 100;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}
.logo{
    width: 150px;
    cursor: pointer;
}
nav button{
    border: 0;
    outline: 0;
    background-color: #db0001;
    color: #fff;
    padding: 7px 20px;
    font-size: 12px;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;
}
nav button:hover{
    background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),#db0001;
}
.lang_btn{
    display: inline-block;
    align-items: center;
    background: transparent;
    border: 1px solid white;
    padding:7px 10px;
}
.lang_btn img{
    width: 10px;
    margin-left: 10px;
}
.header_content{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    margin-top: 100px
}
.header_content h1{
    font-size: 40px;
    line-height: 70px;
    font-weight: 600;
    max-width: 900px;
    /* border: 2px solid white; */
}
.header_content h3{
    font-size: 20px;
    font-weight: 50;
    
}
.email_signup{
    background: #fff;
    border-radius: 4px;
    display: flex;
    align-items: center;
    margin-top: 30px;
    overflow: hidden;
}
.email_signup input{
    flex: 1;
    border: 0;
    outline: 0;
    margin-left: 20px;
    background: transparent;
    border: 4px solid #fff;
}
.email_signup button{
    background: #db0001;
    border: 0;
    outline: 0;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    padding: 15px 30px;
}
.email_signup button:hover{
    background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),#db0001;
}

 /* __________________-----Fraetures----______________________ */
.feature{
    padding: 50px 12%;
    font-size: 22px;
}
.row{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0;
}
.textcol{
    flex-basis: 50%;
    margin-bottom: 20px;
}
.imgcol{
    flex-basis: 50%;
    margin-bottom: 20px;
}
.imgcol img{
    display: block;
    width: 90%;
    margin: auto;
}
.feature h2{
    font-size: 50px;
    cursor: pointer;
    transition: 0.5s;
}
.feature h4{
    font-weight: 200;
}
.feature h2:hover{
    color: #db0001;
}

#world{
    z-index: -1;
    background: transparent;
}
  
/* ________________----FAQ----____________________ */

.faq{
    padding: 10px 12%;
    text-align: center;
    font-size: 18px;
}

/* .faq h2{
    font-weight: 500;

} */
.accordion{
    margin: 60px auto;
    width: 100%;
    max-width: 750px;
}
.accordion li{
    list-style: none;
    width: 100%;
    padding: 5px;
}
.accordion li label{
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 18px;
    font-weight: 500;
    background: #303030;
    margin-bottom: 2px;
    cursor: pointer;
    position: relative;
}
label::after{
    content: '+';
    font-size: 34px;
    position: absolute;
    right: 20px;
}

input[type="radio"]{
    display: none;
}
.accordion .content{
    background: #303030;
    text-align: left;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
}
.accordion input[type="radio"]:checked + label + .content{
    max-height: 600px;
    padding: 30px 20px;
}